.header-library {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--grey-900);

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/header-library/libery-bg-mobile-1x-min.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/libery-bg-mobile-2x-min.jpg);
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/libery-bg-tablet-1x-min.jpg);




    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
       url(../img/header-library/libery-bg-tablet-2x-min.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/libery-bg-destop-1x-min.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),

      url(../img/header-library/libery-bg-destop-2x-min.jpg);

  }

  .header__nav {
    margin-bottom: 47px;
  }
}

