:root {
  --primary-font: 'Roboto', sans-serif;

  --grey-100: #f7f7f7;
  --grey-900: #545454;

  --primary-text-color: #000000;
  --secondary-text-color: #545454;
  --accent-color: #ff6b08;
  --accent-color-modal: #ff6b01;
  --second--accent-color: #ff001b;
  --white-text-color: #ffffff;
  --error-text-color: #ff001b;
  --transparent: rgba(0, 0, 0, 0);
  --footer-text-color: var(--grey-900);

  --bg-light: var(--grey-100);

  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mob: 320px;
$tablet: 767.99px;
$desktop: 1023.99px;
