<footer class="page-footer">
  <div class="container page-footer__container">
    <p class="page-footer__content">&copy;  2022 | All Rights Reserved | Developed with  by 
      <svg width="14" height="13">
        <use xlink:href="img/sprite.svg#icon-favorite"></use>
      </svg> 
      <button type="button" class="page-footer__action-btn" data-footer-modal-open>Best-Team 12</button> 
      <div data-footer-modal class="page-footer__backdrop is-hidden"> 
        <div class="page-footer__modal ">
          <button data-footer-modal-close class="page-footer__modal-close" type="button">
            <svg class="page-footer__modal-close-icon">
              <use width="14" heigth="14" href="./img/close-btn.svg#icon-cross"></use>
            </svg>
          </button>
          <ul class="page-footer__modal-team">
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/alexander.jpg" alt="Олександр">
              </div> 
              <div class="page-footer__modal-team-discription"> 
                <h2>Alexandr Khanchich</h2>
                <h3>Team lead</h3>
              </div>
            </li>
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <!-- <img src="./img/footer-modal-team/natalia.jpg" alt="Наталья"> -->
              </div>
              <div class="page-footer__modal-team-discription">
                <h2>Nataliia Cherednyk</h2>
                <h3>Scrum master</h3>
              </div>
            </li>
            <li class="page-footer__modal-team-item"> 
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/bogdan.jpg" alt="Богдан">
              </div> 
              <div class="page-footer__modal-team-discription">
                <h2>Bohdan Bortnyk</h2>
                <h3>Developer</h3>
              </div>
            </li>
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/sofia.jpg" alt="Софія">
              </div> 
              <div class="page-footer__modal-team-discription">
                <h2>Sofiia Kolesnyk</h2>
                <h3>Developer</h3>
              </div>
              </li>
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/evgen.jpg" alt="Євген">
              </div> 
              <div class="page-footer__modal-team-discription">
                <h2>Yevhen Kolesnyk</h2>
                <h3>Developer</h3>
              </div>
            </li>
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/kristina.jpg" alt="Крістіна">
              </div> 
              <div class="page-footer__modal-team-discription">
                <h2>Kristina Biba</h2>
                <h3>Developer</h3>
              </div>
            </li>
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/anastasia.jpg" alt="Анастасія">
              </div> 
              <div class="page-footer__modal-team-discription">
                <h2>Anastasiia Savina</h2>
                <h3>Developer</h3>
              </div>
            </li>
            <li class="page-footer__modal-team-item">
              <div class="page-footer__modal-team-img">
                <img src="./img/footer-modal-team/pavel.jpg" alt="Павло">
              </div> 
              <div class="page-footer__modal-team-discription">
                <h2>Pavlo Syschuk</h2>
                <h3>Developer</h3>
              </div>
            </li>
          </ul>
        </div>  
      </div>
    </p> 
  </div>
</footer> 