<main class="main">
  <section class="hero is-hidden">
    <div class="container">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides js-trending"></ul>
        </div>
      </div>
    </div>
  </section>
  <section class="film-trending container">
    <div class="film-trending__cards js-film-cards main__library-info">
      <span class="main__library-deco">...Oops.</span>It seems like you haven't
      chosen any film to your library yet.
    </div>
  </section>

  <div class="container">
    <div class="scrollToTopBtn arrow"></div>
    <div class="pagination">
      <ul class="pagination__list"></ul>
    </div>
  </div>
</main>
