<div class="backdrop " data-modal>
    <div class="modal container">
    <button type="button" class="modal__close" data-modal-close> 
      <a href="" class="" data-modal-close>
          <svg class="modal__icon" width="11" height="11">
                           <use href="./img/close-btn.svg#icon-cross"></use>
                       </svg>
       </a>
       </button>
       
       <img class="img__cart"
       src="./img/favicon.png"
       alt="фільм"/>
       


<div class="position">
  <h1 class="modal__title">a fistful</h1>
<table>
    <tr> 
      <td>Vote / Votes</td>
      <td>1260</td>
    </tr>
    <tr>   
      <td>Popularity</td>
      <td>100.2</td>
    </tr>
    <tr>
      <td>Original Title</td>
      <td>A FISTFUL OF LEAD</td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>Western</td>
      </tr>
  </table>

  <h2 class="modal__text">ABOUT</h2>
<p class="text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>

  <div class="modal__btn">
    <button type="button" class="btn--modal current-btn ">add to Watched</button>
    <button type="button" class="btn--modal queue">add to queue</button>
  </div>
</div>
</div>
    </div>