<div class="backdrop is-hidden" data-modal>
  <div class="modal container">
    <button type="button" class="modal__close" data-modal-close>
      <a href="" class="">
        <svg class="modal__icon" width="11" height="11">
          <!-- <use href="./img/symbol-defs(2)#icon-vector"></use> -->
        </svg>
      </a>
    </button>
    <div class="film-info"></div>
      <div class="btn-flex">
        <button type="button" class="btn current-btn add-watched">
          add to Watched
        </button>
        <button type="button" class="btn add-queue">add to queue</button>
      </div>
    </div>
  </div>
</div>
