.page-footer {

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
    overflow-y: scroll;
  }
    &__backdrop.is-hidden{
      opacity: 0;
      pointer-events: none;
    }

  &__modal {
    position: relative;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
                0px 1px 1px rgb(0 0 0 / 14%),
                0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transform: translate(-50%, 50) scale(1);
    padding: 40px;
    z-index: 99;
    width: calc(100% - 80px);
    
  }

  &__modal-close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffffff;
    cursor: pointer;
  }

  &__modal-close-icon{
    width: 14px;
    height: 14px;
    fill: black;
  }

  &__modal-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 1200px) {
    }
  }

  &__modal-team-item {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  
    // &:nth-child(odd) {
    //   @media screen and (min-width: 710px) and (max-width: 1000px){
    //     margin-right: 0;
    //   }
    // }
    
    // &:nth-child(2n) {
    //   @media screen and (min-width: 710px) and (max-width: 1000px){
    //     margin-left: 0;
    //   }
    // }
  }  

  &__modal-team-img {
    position: relative;
    overflow: hidden;
    border-radius: 10%;

    @media screen and (min-width: 320px){
      width: 200px;
      height: 200px;
      margin-right: 0;
    }
  }

  &__modal-team-discription{
    line-height: 2;
    letter-spacing: .06em;
  }
  &__modal-team-discription h2{
    font-size: 20;
  }
  &__modal-team-discription h3{
    font-size: 14;
  }
}

